body {
    font-family: 'Lucidatypewriter', monospace;
    font-size: x-large;
    font-weight: 400;
    text-align: center;
    background-color: #a0a0a0;
    line-height: 2.2rem;
    letter-spacing: .1rem;
}

#inputs button {
    font-weight: bold;
    font-size: large;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 1rem;
}

#info {
    text-align: left;
    margin: auto;
    width: 40%;
}

#grid {
    background-color: #dfdfdf;
    width: 650px;
    height: 650px;
    margin: auto;
    border-collapse: collapse;
}

#grid tr td:nth-child(3n) {
    border-right: 2px solid #000000;
}

#grid tr:first-child td {
    border-top: 2px solid #000000;
}

#grid tr td:first-child {
    border-left: 2px solid #000000;
}

#grid tr:nth-child(3n) td {
    border-bottom: 2px solid #000000;
}

#grid tr td.editable {
    background-color: #b1f8b1;
}

#grid tr td.editable:hover {
    background-color: #fdc300;
    font-weight: bold;
}

#grid tr td#active {
    background-color: #f0b800;
    font-weight: bold;
}

#grid tr td.solved {
    background-color: #ffbe89;
    font-weight: bold;
}